* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}


:root {
    --green: #FDBE33;
    --black: #444;
    --light-color: #777;
    --light: #fff;
    --box-shadow: 5px 5px 0 rgba(22, 160, 133, .2);
    --text-shadow: 4px 4px 0 rgba(0, 0, 0, .2);
    --border: 2px solid var(--green);
    --body: #ffffff;
    --themeA: #FDBE33;
    --themeAdark: #FDBE33;
    --heading: #303030;
    --border: rgba(0, 0, 0, 0.15);
    --icon: #676767;
    --heading: #b77d7d;
    --openFont: 'Open Sans', sans-serif;
    --balooFont: 'Baloo Tamma 2', cursive;
    --textDark: #000000;
    --rubikFont: 'Rubik', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #212529;
}

/*********** Utility Classes CSS **********/
.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 6px;
    padding-left: 10px;
    border: var(--border);
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    color: var(--green);
    cursor: pointer;
    font-size: 18px;
    background: #fff;
    transition: all .3s ease-in-out;
}

.btn span {
    padding: 7px 10px;
    border-radius: 6px;
    background: var(--green);
    color: #fff;
    margin-left: 6px;
}

.btn:hover {
    background: var(--green);
    color: #fff;
}

.btn:hover span {
    color: var(--green);
    background: #fff;
    margin-left: 13px;
}

.section-header {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0 auto 45px auto;
}

.section-header p {
    margin-bottom: 5px;
    position: relative;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    color: #FDBE33;
}

.section-header h2 {
    margin: 0;
    font-size: 45px;
    font-weight: 700;
}

@media (max-width: 991.98px) {
    .section-header h2 {
        font-size: 45px;
    }
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 40px;
    }
}

@media (max-width: 575.98px) {
    .section-header h2 {
        font-size: 35px;
    }
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    font-size: inherit;
    margin-left: 0;
}


/*********** Pre Loader CSS **********/
.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8000;
    background-color: #212529;
}

.preloader .load {
    height: 20px;
    width: 20px;
    margin: 10px;
    display: inline-block;
    background-color: var(--green);
    border-radius: 50%;
    transform: scale(0.2);
    animation: size 1.2s infinite;
}

.preloader .load:nth-child(2) {
    animation-delay: 0.2s;
}

.preloader .load:nth-child(3) {
    animation-delay: 0.4s;
}

.preloader .load:nth-child(4) {
    animation-delay: 0.6s;
}

.preloader .load:nth-child(5) {
    animation-delay: 0.8s;
}

@keyframes size {

    0%,
    50% {
        transform: scale(0.2);
    }

    50% {
        transform: scale(1);
    }
}



/*********** Navigation CSS **********/
.top-bar {
    position: absolute;
    height: 45px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.top-bar .top-bar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.top-bar .top-bar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-bar .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 45px;
    padding: 0 10px;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, .3);
}

.top-bar .text:last-child {
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.top-bar .text i {
    font-size: 16px;
    color: #FDBE33;
    margin-right: 5px;
}

.top-bar .text p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.top-bar .social {
    display: flex;
    height: 45px;
    font-size: 0;
    justify-content: flex-end;
}

.top-bar .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 100%;
    font-size: 16px;
    color: #FDBE33;
    border-right: 1px solid rgba(255, 255, 255, .3);
    text-decoration: none;
}

.top-bar .social a:first-child {
    border-left: 1px solid rgba(255, 255, 255, .3);
}

.top-bar .social a:hover {
    color: #ffffff;
    background: #FDBE33;
}

@media (min-width: 992px) {
    .top-bar {
        padding: 0 60px;
    }
}

.navbar {
    position: relative;
    transition: .5s;
    z-index: 999;
}

.navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    transition: .5s;
}

.navbar .navbar-brand {
    margin: 0;
    color: #ffffff;
    font-size: 45px;
    line-height: 0px;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 40px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 15px 8px 15px;
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #FDBE33;
    transition: none;
}

.navbar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

@media (min-width: 992px) {
    .navbar {
        position: absolute;
        width: 100%;
        top: 45px;
        padding: 20px 60px;
        background: transparent !important;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        z-index: 9;
    }

    .navbar.nav-sticky {
        padding: 10px 60px;
        background: #20212B !important;
        border-bottom: none;
    }

    .page .navbar {
        background: #20212B !important;
    }

    .navbar a.nav-link {
        padding: 8px 15px;
        font-size: 16px;
        letter-spacing: 1px;
    }
}

@media (max-width: 991.98px) {
    .navbar {
        padding: 15px;
        background: #20212B !important;
    }

    .navbar a.nav-link {
        padding: 5px;
    }

    .navbar .dropdown-menu {
        box-shadow: none;
    }
}



/*********** Home Section CSS **********/
#hero {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: #fff;
}

#hero:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 130%;
    height: 95%;
    background: linear-gradient(to right, rgba(110, 155, 39, 0.6), rgba(20, 54, 1, 0.4)), url("https://i.postimg.cc/9XN8dmP6/hero.jpg")center top no-repeat;
    /*image-size 1920H 1080W*/
    z-index: 0;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) rotate(0deg);
}

#hero:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 130%;
    height: 96%;
    background: rgba(110, 155, 39, 0.8);
    background: rgb(253, 190, 51, 0.8);
    opacity: 0.3;
    z-index: 0;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%)translateY(18px)rotate(2deg);
}

#hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: bold;
}

#hero p {
    width: 80%;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
    width: 10%;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
    background: none;
    font-size: 48px;
    line-height: 1;
    width: auto;
    height: auto;
}

@media(min-width:1024px) {
    #hero p {
        width: 60%;
    }

    #hero .carousel-control-prev,
    #hero .carousel-control-next {
        width: 5%;
    }
}

@media(max-width:768px) {
    #hero h2 {
        font-size: 28px;
    }

    #hero:after {
        width: 180%;
        height: 95%;
        border-radius: 0 0 50% 50%;
        transform: translateX(-50%)rotate(0deg);
    }

    #hero:before {
        top: 0;
        width: 180%;
        height: 94%;
        border-radius: 0 0 50% 50%;
        transform: translateX(-50%)translateY(20px)rotate(4deg);
    }
}

@media(max-width:575px) {
    #hero:after {
        left: 40%;
        top: 0;
        width: 200%;
        height: 95%;
        border-radius: 0 0 50% 50%;
        transform: translateX(-50%)rotate(0deg);
    }

    #hero:before {
        left: 50%;
        top: 0;
        width: 200%;
        height: 94%;
        border-radius: 0 0 50% 50%;
        transform: translateX(-50%)translateY(20px)rotate(4deg);

    }
}


/*  */
.service {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
    background: #fff;
}

.service .service-item {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    transition: .3s;
}

.service .service-icon {
    position: relative;
    width: 60px;
}

.service .service-icon i {
    position: relative;
    display: block;
    color: #FDBE33;
    font-size: 60px;
    line-height: 60px;
    margin-top: 5px;
}

.service .service-text {
    position: relative;
    margin-left: 20px;
    padding-left: 20px;
}

.service .service-text::before {
    position: absolute;
    content: "";
    width: 1px;
    height: calc(100% - 10px);
    top: 5px;
    left: 0;
    background: rgba(0, 0, 0, .1);
}

.service .service-text::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 40px;
    top: calc(50% - 20px);
    left: -1px;
    background: #FDBE33;
}

.service .service-text h3 {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
}

.service .service-text p {
    margin: 0;
}

/*  */
.contact {
    padding-bottom: 130px;
    margin-top: 150px;
}

.contact .info {
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
    font-size: 20px;
    color: #FDBE33;
    float: left;
    width: 44px;
    height: 44px;
    background: rgba(253, 190, 51, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #050d18;
}

.contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #FDBE33;
}

.contact .info .email p {
    padding-top: 5px;
}

.contact .info .social-links {
    padding-left: 60px;
}

.contact .info .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-right: 10px;
    text-decoration: none;
}

.contact .info .social-links a:hover {
    background: #FDBE33;
    color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
    background: #FDBE33;
    color: #fff;
}

.contact .php-email-form {
    width: 100%;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

.contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input {
    height: 44px;
}

.contact .php-email-form textarea {
    padding: 10px 12px;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media (max-width: 880px) {

    .contact {
        padding-bottom: 130px;
        margin-top: 50px;
    }
}

/* Foundation CSS */
section.foundation {
    background: whitesmoke;
    padding: 50px;
}

section.foundation .container .posts {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
    grid-gap: 60px;
}

section.foundation .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.foundation .container .posts .post .post-img {
    margin-bottom: 75px;
    width: 400px;
    height: 250px;
    position: relative;
}

section.foundation .container .posts .post .post-img:hover .post-content {
    background: var(--themeAdark);
}

section.foundation .container .posts .post-img:hover .post-content .tag {
    background: var(--body);
    border: 2px solid var(--themeAdark);
}

section.foundation .container .posts .post-img:hover .post-content .tag h4 {
    color: var(--textDark);
}

section.foundation .container .posts .post-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.foundation .container .posts .post-img .post-content {
    position: absolute;
    background: var(--body);
    width: 300px;
    top: 63%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 10px 10px 10px;
}

section.foundation .container .posts .post-img .post-content .tag {
    background: var(--themeAdark);
    display: inline-block;
    position: absolute;
    width: fit-content;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

section.foundation .container .posts .post-img .post-content .tag h4 {
    color: var(--body);
    padding: 6px;
    margin: 0;
    text-transform: uppercase;

}

section.foundation .container .posts .post-img .post-content h1 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

section.foundation .container .posts .post-img .post-content p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 13px;
}

section.foundation .container .posts .post-img .post-content a {
    color: var(--body);
    background: #191919;
    padding: 5px;
    text-align: center;
    border: 2px solid transparent;
    margin-bottom: 5px;
    text-decoration: none;
}

section.foundation .container .posts .post-img .post-content a:hover {
    border: 2px solid var(--textDark);
    background: var(--body);
    color: var(--textDark);
}

section.foundation .container .btn {
    margin: 20px auto;
}

section.foundation .container .btn a {
    padding: 10px;
    border: 2px solid transparent;
    color: var(--body);
    background: #191919;
    text-decoration: none;
}

section.foundation .container .btn a:hover {
    padding: 10px;
    border: 2px solid #191919;
    color: #191919;
    background: var(--body);
}

@media (max-width: 880px) {

    section.foundation .container .posts {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media (max-width: 500px) {
    section.foundation .container .posts .post .post-img {
        width: 300px;
    }

    section.foundation .container .posts .post .post-img .post-content {
        width: 250px;
    }
}


/* Placement */
section.indus {
    background: #fff;
}

section.indus .container {
    padding: 50px;
}

section.indus .container h1 {
    font-size: 30px;
    letter-spacing: 2px;
    color: var(--heading);
    font-weight: 700;
    margin: 20px 0;
    text-align: center;
}

section.indus .container .catagory {
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    max-width: 90vw;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 1fr);
    margin-inline: auto;
}

section.indus .container .catagory .type {
    width: calc(90vw/4 -40px);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    position: relative;
    margin-top: 20px;
    border: 1px solid var(--textDark);
}

section.indus .container .catagory .type img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 4px solid var(--body);
    border-radius: 4px;
}

section.indus .container .catagory .type:hover {
    border: 1px solid var(--themeAdark);
}


@media (max-width:680px) {
    section.indus .container .catagory {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:400px) {
    section.indus .container .catagory {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Faces */
section.faces {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 50px;
    flex-direction: column;
    gap: 50px;
}

section.faces h1 {
    color: var(--green);
}

section.faces .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    min-height: 450px;
    width: 300px;
    box-shadow: 0 10px 20px #e8c985;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.card img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 8px solid white;
    box-shadow: 0 2px 15px rgb(58, 54, 54);
    object-fit: cover;
    z-index: 2;
}

.card .shape {
    height: 250px;
    max-width: 280px;
    width: 400px;
    background-color: var(--green);
    margin-left: -20px;
    position: absolute;
    top: -80px;
    box-shadow: 0 2px 15px black;
    transform: rotate(25deg);
    z-index: 1;
}

.card h3 {
    margin-bottom: 10px;
    font-size: 30px;
    z-index: 2;
}

.card .title {
    color: rgb(105, 100, 109);
    font-size: 20px;
    z-index: 2;
}

.card p {
    color: rgb(105, 100, 109);
    z-index: 2;
}

.card .icons {
    margin-top: 15px;
    z-index: 2;
}

.card .icons i {
    margin-left: 10px;
    font-size: 20px;
    transition: 0.3s;
    color: var(--green);
    z-index: 2;
}

.card .icons i:hover {
    transform: scale(1.1);
}

/* Fotter */
footer {
    background: #212529;
    border-top: .5px solid #f0eded;
}

footer .footer {
    width: 95vw;
    margin: 0 auto;
}

footer .footer-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

footer .footer-list ul {
    padding: 30px 0;
}

footer .footer-list ul li {
    display: inline-block;
}

footer .footer-list ul li a {
    font-size: 20px;
    margin-right: 24px;
    color: #ababab;
    text-decoration: none;
}

footer .footer-list .twitter a {
    font-size: 20px;
    margin: 0 10px;
    color: #ababab;
    text-decoration: none;
}

footer .footer-list ul li a:hover,
footer .footer-list .twitter a:hover {
    color: var(--green);
}

.fotter-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fotter-bottom .foot-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fotter-bottom .foot-1 img {
    height: 40px;
    width: 100px;
}

.fotter-bottom .foot-1 p {
    font-size: 15px;
    color: #6d6d6d;
    margin: 0 15px;
}

.fotter-bottom .disclaimer p {
    font-size: 13px;
    color: #6d6d6d;
}

footer p {
    font-size: 12px;
    color: #6d6d6d;
    text-align: right;
    margin-bottom: 10px;
}

footer p i {
    color: #f70909;
}

@media (max-width:900px) {

    .fotter-bottom,
    .fotter-bottom .foot-1,
    footer,
    .footer-list {
        flex-direction: column;
        margin-bottom: 10px;
    }

    footer p {
        text-align: center;
    }

    footer .footer-list ul {
        text-align: center;
    }

    footer .footer-list ul li a {
        font-size: 15px;
    }
}